@import 'reset';
@import 'fonts';
@import 'vars';


body {
    position: relative;
    // background: $bgLight;
    // @include screenW(pda){
    //     @media (orientation: landscape){
    //         padding-top: 10px;
    //     }
    // }
}


.b_level {

    &-scoreboard {
        position: absolute;
        z-index: 10;
        top: 50rem;
        left: 70rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        opacity: 1;
        transition: all 0.5s ease;

        .item {
            position: relative;
            margin-left: 40rem;
            display: inline-flex;
            flex-flow: row;
            align-items: center;
            font: 400 20rem/1 $pixelFont;
            color: $peach;

            &:first-child {
                margin-left: 0;
            }

            &:before {
                content: 'x';
                display: inline-block;
                position: relative;
                padding-left: 50rem;
                height: 40rem;
                margin-right: 8rem;
                font: 400 20rem/34rem $pixelFont;
                color: $peach;
            }

            &.m_lives {
                &:before {
                    background: url(../img/game/heart.svg) no-repeat 0 0;
                    background-size: auto 40rem;
                }
            }
            &.m_score {
                &:before {
                    // background: url(../img/game/star.svg) no-repeat 0 0;
                    background: url(../img/game/green_star.png) no-repeat 0 0;
                    background-size: auto 40rem;
                }
            }
        }

        @include screenW(pda){
            top: 20rem;
            left: 30rem;
            transform: scale(0.8);
            flex-flow: column;
            align-items: start;
            .item {
                margin: 0 0 10px 0;
                font: 400 16rem/1 $pixelFont;

                &:before {
                    padding-left: 40rem;
                    height: 28rem;
                    font: 400 18rem/26rem $pixelFont;
                }

                &.m_lives {
                    &:before {
                        background: url(../img/game/heart.svg) no-repeat 0 0;
                        background-size: auto 28rem;
                    }
                }
                &.m_score {
                    &:before {
                        // background: url(../img/game/star.svg) no-repeat 0 0;
                        background: url(../img/game/green_star.png) no-repeat 0 -2px;
                        background-size: auto 28rem;
                    }
                }
            }
        }
    }

    &-area {
        &-finishline {
            position: absolute;
            z-index: 5;
            bottom: 0;
            height: 32%;
            right: 150vw;

            // display: none;

            img {
                display: block;
                height: 100%;
            }
        }
    }
}

#canvasArea {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 600px;
    // max-width: 900px;
    margin: auto;
    overflow: hidden;

    @include screenW(pda){
        max-height: 50vh;

        @media (orientation: landscape){
            // position: relative;
            max-height: unset;
            height: 100vh;
        }
    }

}

#canvasLady {
    position: absolute;
    top: 0;
    left: 100rem;
    right: 0;
    bottom: 0;
    z-index: 15;

    @include screenW(pda){
        left: 30rem;

        @media (orientation: landscape){
            left: 100rem;
        }
    }
}
#canvasObjects {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    @include screenW(pda){
        // max-height: 375px;
        margin: auto 0;
    }
}

#canvasBackground {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: url('../img/game/canvas/bg/lv1_bg.png') repeat-x 0 0;
    background-size: auto 100%;
    min-width: 200%;

    &.level1 {
        // &:before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     background-image: linear-gradient(180deg, rgba(39,0,90,1) 17%, #27005A00 );
        //     opacity: .15;
        // }
    }

    &.level2 {
        background: url('../img/game/canvas/bg/lv2_bg.png') repeat-x 0 0;
        background-size: auto 100%;
    }
    &.level3 {
        background: url('../img/game/canvas/bg/lv3_bg.png') repeat-x 0 0;
        background-size: auto 100%;
    }
    &.level4 {
        background: url('../img/game/canvas/bg/lv4_bg.png') repeat-x 0 0;
        background-size: auto 100%;
        // &:before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     background-image: linear-gradient(180deg, rgba(39,0,90,1) 32%, #27005A00 75%);
        //     opacity: .15;
        // }
    }
    &.level5 {
        background: url('../img/game/canvas/bg/lv5_bg.png') repeat-x 0 0;
        background-size: auto 100%;
    }

    // &:before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     background-image: linear-gradient(180deg, rgba(39,0,90,1) 0%, #27005A00 );
    //     opacity: .15;
    // }

}

#canvasRunBtn {
    display: none;
    @include screenW(pda){
        position: fixed;
        z-index: 100000;
        bottom: 20px;
        left: 20px;
        width: 100px;
        height: 100px;
        display: block;
        border-radius: 50%;
        background: rgba(225,200,255,.5);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            margin: auto;
            background: $blue;
            box-shadow: 0 4px 0 #531A9D;
            border-radius: 50%;
            transition: all 0.1s ease;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(../img/arrow.svg) no-repeat 50% 50%;
            background-size: 20px;
            transform: rotate(90deg);
            transition: top 0.1s ease;
        }

        &.pause {
            &:after {
                content: '||';
                position: absolute;
                top: 4px;
                left: 0;
                right: 0;
                bottom: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                transition: all 0.1s ease;
                background: none;
                transform: rotate(0);
                font: 400 18px/1 $pixelFont;
                color: $peach;
                letter-spacing: -0.4em;
                text-indent: -0.4em;
            }
            &:active {
                &:after {
                    top: 8px;
                }
            }
        }

        &:active {
            &:before {
                background: $darkBlue;
                top: 4px;
                box-shadow: 0 0px $blueShadow;
            }
            &:after {
                top: 4px;
            }
        }

    }
}
#canvasJumpBtn {
    display: none;
    @include screenW(pda){
        position: fixed;
        z-index: 100000;
        bottom: 20px;
        right: 20px;
        width: 100px;
        height: 100px;
        display: block;
        border-radius: 50%;
        background: rgba(225,200,255,.5);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            margin: auto;
            background: url(../img/arrow.svg) no-repeat 50% 50% $blue;
            background-size: 20px;
            box-shadow: 0 4px 0 #531A9D;
            border-radius: 50%;
            transition: all 0.1s ease;
        }

        &:active {
            &:before {
                background: url(../img/arrow.svg) no-repeat 50% 50% $darkBlue;
                background-size: 20px;
                top: 4px;
                box-shadow: 0 0px $blueShadow;
            }
        }

    }
}
